/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap");

/* Root Variables */
:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Merriweather", serif;

  --color-primary: #1c2f59;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-btn: #5678aa ;

  /* Custom Button Colors */
  --confirm: #28a745; /* Replace with your desired color */
  --cancel: #dc3545; /* Replace with your desired color */
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

body {
  background-color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-primary);
  color: var(--color-dark);
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn.btn-primary {
  background-color: var(--confirm);
  color: #ffffff;
}

.btn.btn-secondary {
  background-color: var(--cancel);
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/* Navbar Styling */
.nav-bar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}

.nav-bar.sticky-top {
  position: sticky;
  padding: 0;
  z-index: 999;
}

.navbar {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin-left: 240px !important;
  /* background: linear-gradient(135deg, #333, #111); */
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  outline: none;
  transition:
    color 0.3s,
    transform 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-primary);
  transform: scale(1.1);
}

@media (max-width: 991.98px) {
  .navbar {
    margin: 0 !important;
    padding: 0;
    z-index: 999;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 0px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-light .navbar-brand img {
  height: 50px;
  width: auto;
}
/* Main Sidebar Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: var(--font-primary);
}

/* Sidebar Styling */
.sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  overflow-y: auto;
  transform: translateX(-100%);
  transition:
    right 0.7s,
    width 0.7s;
  z-index: 998;
  /* background: linear-gradient(135deg, #222, #444); */
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.sidebar:not(.expand) .sidebar-logo,
.sidebar:not(.expand) a.sidebar-link span {
  display: flex;
}

.sidebar-inner {
  padding: 0;
}

.sidebar-menu {
  padding-top: 5rem;
}

.menu-title {
  color: #9e9e9e;
  padding: 0.75rem 0.25rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

a.sidebar-link {
  padding: 0.75rem 1.25rem;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
  transition:
    background-color 0.3s,
    border-left-color 0.3s,
    padding 0.3s;
}

.sidebar-link span {
  margin-left: 10px; /* Adjust the space between the icon and the text */
}

.sidebar-link i {
  font-size: 0.95rem;
}

a.sidebar-link:hover,
a.sidebar-link:focus {
  background-color: #2962ff;
  color: #ffffff;
  text-decoration: none;
  border-left: 3px solid #3b7ddd;
  padding-left: 1.5rem;
}

.sidebar-item {
  position: relative;
}

.sidebar-footer {
  padding: 1rem;
  text-align: center;
}

.sidebar-footer a {
  color: #fff;
  font-size: 1rem;
}

.sidebar-footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Scrollbar customization for WebKit browsers */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    left: -260px;
    z-index: 998;
  }

  .sidebar.show {
    left: 0;
  }

  .mobile_btn {
    display: block;
  }
}

/* Dropdown functionality */
.sidebar-item .sidebar-dropdown {
  display: none;
  list-style: none;
  padding-left: 20px;
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.sidebar-item .sidebar-link {
  cursor: pointer;
}

.sidebar-item.active .sidebar-dropdown {
  display: block;
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
}

.sidebar-item .menu-arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.sidebar-item.active .menu-arrow {
  transform: rotate(90deg);
}

/* Mobile Button Styling */
.mobile_btn {
  display: block; /* Hide by default */
  color: var(--color-btn);
  border: none;
  border-radius: 50%;
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s; /* Smooth transitions */
}

@media (max-width: 768px) {
  .mobile_btn {
    display: flex !important; /* Show button on mobile */
  }
}

.mobile_btn i {
  font-size: 20px; /* Adjust the size of the icon as needed */
  color: var(--color-btn); /* Adjust the color of the icon as needed */
}

.mobile_btn:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.mobile_btn:active {
  transform: scale(0.9); /* Slightly shrink on click */
}

/*** Header ***/
@media (min-width: 992px) {
  .header {
    margin-top: -120px;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--color-primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--color-dark);
}

@media (max-width: 768px) {
  .header-carousel .owl-nav {
    left: 25px;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #dddddd;
}

/*** Icon ***/
.icon {
  width: 25px; /* Adjust the size as needed */
  height: 25px; /* Adjust the size as needed */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff !important;
  border-radius: 50%;
  border: 1px dashed var(--color-primary) !important;
}

/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  transform: skew(20deg);
  z-index: 1;
}

/*** Category ***/
.cat-item div {
  background: #ffffff;
  border: 1px dashed rgba(0, 185, 142, 0.3);
  transition: 0.5s;
}

.cat-item:hover div {
  background: var(--color-primary);
  border-color: transparent;
}

.cat-item div * {
  transition: 0.5s;
}

.cat-item:hover div * {
  color: #ffffff !important;
}

/*** Property List ***/
.nav-pills .nav-item .btn {
  color: var(--color-dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
  color: #ffffff;
}

.property-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.property-item img {
  transition: 0.5s;
}

.property-item:hover img {
  transform: scale(1.1);
}

.property-item .border-top {
  border-top: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.property-item .border-end {
  border-right: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.team-item .btn {
  color: var(--color-primary);
  background: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.team-item .btn:hover {
  color: #ffffff;
  background: var(--color-primary);
}

.team-item:hover {
  border-color: var(--color-secondary) !important;
}

.team-item:hover .bg-primary {
  background: var(--color-secondary) !important;
}

.team-item:hover .bg-primary i {
  color: var(--color-secondary) !important;
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 40px;
  top: calc(50% - 20px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--color-primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--color-dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--color-primary);
  border-color: var(--color-light);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--color-light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.owl-carousel img {
  margin: 0 !important;
  padding: 0 !important;
}

#move {
  border: 1px solid grey;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
}

#tbl1,
#td1,
#td2 {
  border: 0px solid black;
}

#td1 {
  text-align: right;
}

#td2 {
  text-align: left;
}

.total {
  font-weight: bold;
}

.propertyDetailsPrice {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 12px 16px;
}

.propertyDetails
  .propertyDetailsPrice
  .propertyDetailsPrice-item
  .propertyDetailsTerms
  .propertyDetailsTerms-item {
  list-style-type: none;
  padding: 0;
  margin: 0 15px;
}

.propertyDetailsPrice-list {
  font-size: 16px;
  color: #212121;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.propertyDetailsPrice-listTotal {
  font-size: 16px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 10px;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-place-incoming {
  text-align: center !important;
}

.propertyDetailsTerms {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 12px 16px;
  margin-bottom: 10px;
}

.propertyDetailsTerm-list {
  font-size: 16px;
  color: #212121;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

ul.custom-padding {
  padding-left: 0; /* Set your desired padding-left value */
}

.propertyDetailsCard {
  position: sticky;
  top: 120px;
}

@media (max-width: 768px) {
  .propertyDetails h4 {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }

  .propertyDetails span {
    font-size: 12px; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 1200px) {
  .col-sm-8,
  .col-sm-4 {
    width: 95%;
  }
}

.header {
  margin-top: 30px !important;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-wrapper {
  width: 100%;
  max-width: 400px;
}

.login-wrapper .loginbox {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 1.875rem auto;
  max-width: 400px;
  min-height: 500px;
  width: 100%;
}

.login-wrapper .loginbox .login-left {
  align-items: center;
  background: linear-gradient(180deg, #050a30, #1c2f59);
  border-radius: 6px 0 0 6px;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  width: 400px;
  display: flex;
}

.login-wrapper .loginbox .login-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.login-wrapper .loginbox .login-right .login-right-wrap {
  max-width: 100%;
  text-align: center; /* Center the child elements horizontally */
  align-items: center;
}

.login-wrapper .loginbox .login-right form {
  width: 100%; /* Ensure the form takes the full width */
}

.login-wrapper .loginbox .login-right form .form-group {
  margin-bottom: 15px; /* Add some spacing between form groups */
}

.login-wrapper .loginbox .login-right form .form-control {
  width: 100%; /* Make the input fields take the full width */
  max-width: 300px; /* Adjust the max-width based on your design */
  margin: 0 auto; /* Center the input fields horizontally */
}

.login-wrapper .loginbox .login-right h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

.account-subtitle {
  color: #4c4c4c;
  font-size: 17px;
  margin-bottom: 1.875rem;
  text-align: center;
}

.login-wrapper .loginbox .login-right .forgotpass a {
  color: #a0a0a0;
}

.login-wrapper .loginbox .login-right .forgotpass a:hover {
  color: #333;
  text-decoration: underline;
}

.login-wrapper .loginbox .login-right .dont-have {
  color: #a0a0a0;
  margin-top: 1.875rem;
}

.login-wrapper .loginbox .login-right .dont-have a {
  color: #333;
}

.login-wrapper .loginbox .login-right .dont-have a:hover {
  text-decoration: underline;
}

.dash-widget-icon {
  align-items: center;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
  font-size: 1.875rem;
  height: 50px;
  justify-content: center;
  line-height: 48px;
  text-align: center;
  width: 50px;
}

.dash-count {
  font-size: 18px;
  margin-left: auto;
}

.dash-widget-info h3 {
  margin-bottom: 10px;
}

.dash-widget-header {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.card-chart .card-body {
  padding: 8px;
}

.page-wrapper {
  margin-left: 240px;
  padding-top: 10px;
  position: relative;
  transition: all 0.4s ease;
}

.page-wrapper > .content {
  padding: 1.875rem 1.875rem 0;
}

.row {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .page-wrapper {
    margin-left: 0;
  }

  .page-wrapper > .content {
    padding: 1.875rem 1.875rem 0;
  }
}

.page-wrapper-payment {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.depo-wrapper {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.paymentform {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-dark);
}

.input-group {
  display: flex;
}

.currency {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin-bottom: 16px;
}

#depositAmount {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

#bookingAmount {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

#advancedRentalAmount {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

#processingFee {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom DataTable column spacing */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  padding: 0.5rem 0;
}

#roomListTable thead th,
#roomListTable tbody td {
  padding: 10px 20px; /* Adjust the padding as needed */
  text-align: center; /* Ensure text is aligned to the left */
}

#roomListTable thead th {
  white-space: nowrap; /* Prevent header text from wrapping */
}

#roomListTable tbody td {
  white-space: nowrap; /* Prevent body text from wrapping */
}

#filterOptions {
  display: none;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.filter-group {
  margin-bottom: 10px;
  text-align: left;
}

.filter-group span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: var(--color-primary);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  flex: 1 1 100px;
  text-align: center;
}

.filter-button.active {
  background-color: var(--color-dark);
  color: #fff;
}

.filter-button:hover {
  background-color: var(--color-dark);
  color: #fff;
}

.filter-toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
